<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <th:block th:replace="fragments/head :: header('Create')"/>
</head>
<body class="min-vh-100 bg">
<th:block th:replace="fragments/navbar :: nav"/>

<div id="background" class="container">

    <h2>CREATE A NEW POST!</h2>

    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        <textarea id="input-title" placeholder="title" th:field="*{title}"></textarea>
        <br />
        <textarea id="input-post" class="col post" placeholder="Tell me about it" th:field="*{body}"></textarea>
        <br />
        <button id="post-btn" type="submit">Post!!!</button>
    </form>
</div>


<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>