<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <th:block th:replace="fragments/head :: header('Home')"/>
    </head>
    <body>
        <th:block th:replace="fragments/navbar :: nav"/>
        <!--<div class="container">-->

            <!--<th:block th:each="post : ${posts}">-->
            <!--<h3 th:text="${post.title}"></h3>-->
            <!--<h5 th:text="${post.body}"></h5>-->
            <!--<button><a th:href="@{'/posts/edit/' + ${post.getId()}}">Edit</a></button>-->
            <!--<button><a th:href="@{'/posts/delete/' + ${post.getId()}}">Delete</a></button>-->
            <!--&lt;!&ndash;<h3 th:text="${post.authorEmail}"></h3>&ndash;&gt;-->
            <!--</th:block>-->

            <!--<th:block th:each="post : ${posts}">-->
                <!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
                <!--<div class="card" style="text-align: center; width: 100%">-->
                    <!--<div class="card-body">-->
                        <!--<h5 class="card-title" th:text="${post.title}"></h5>-->
                        <!--<p class="card-text" th:text="${post.body}"></p>-->
                    <!--</div>-->
                <!--</div>-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</th:block>-->
        <!--</div>-->



        <div class="container">
            <!--<h1 style="text-align: center; margin-bottom: 1em;">Welcome, <th:block th:text="${posts.user.getUsername()}"/>. Here are your Posts!</h1>-->


            <th:block th:each="post : ${posts}">
                    <!--<th:block th:if="${users}">-->
                        <div class="card" style="text-align: center; width: 100%">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${post.title}"></h5>
                                <p class="card-text" th:text="${post.body}"></p>
                                <button><a th:href="@{'/posts/edit/' + ${post.getId()}}">Edit</a></button>
                                <button><a th:href="@{'/posts/delete/' + ${post.getId()}}">Delete</a></button>
                            </div>
                        </div>
                    <!--</th:block>-->
            </th:block>
        </div>
                        <!--<form action="/ads" method="post">-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="card" style="border: 1px solid grey; margin-bottom: 10px;">-->
                                    <!--<img src ="${ad.pictureURL}" class="card-img-top" height="auto" width="100%">-->
                                    <!--<div class="card-body" style="padding-left: 5px">-->
                                        <!--<h5 class="card-title" style="font-weight: bold; text-align: center; font-size: 1.5em;">${ad.title}</h5>-->
                                        <!--<span style="font-weight: bold">Description: </span><span style="font-style: italic">${ad.description}<br></span>-->
                                        <!--<span style="font-weight: bold">Species: </span>${ad.species}<br>-->
                                        <!--<span style="font-weight: bold">DOB: </span>${ad.dob}<br>-->
                                        <!--<span style="font-weight: bold">Gender: </span>${ad.gender}<br>-->
                                        <!--<span style="font-weight: bold">Location: </span>${ad.zipCode}-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</form>-->

                        <!--<input type="hidden" name="id" value="${ad.id}">-->
                        <!--<input type="hidden" name="user_id" value="${ad.user_id}">-->



    </body>
</html>