
.contain-bg {
    background: rgba(256, 256, 256, 0.4);
}



.user-contain {
    width: 400px;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
}

.login-contain{
    width: 600px;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
}


.background {
    background-image: url("/img/night.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*background: rgba(256, 256, 256, 0.4);*/
}



.loginBtn{
    width: 100%;
    margin-bottom: 15px;
}

textarea::placeholder {
    text-align: center;

}

.navbar {
    background: none;
}

.input-post::placeholder{
    padding-top: 3em;
}

.bg{
    background-repeat: no-repeat;
    background-size: cover;

}


/*.post-btn{*/
    /*background: rgba(256,256,256,0.3);*/
    /*width: 100%;*/
/*}*/
/*#input-title{*/
    /*margin-top: 1.5em;*/
    /*height: 1.5em;*/
    /*width: 15em;*/
    /*resize: none;*/
    /*background: rgba(256,256,256,0.4);*/
/*}*/

.input-post{
    height: 8em;
    resize: none;
    /*background: rgba(256,256,256,0.4);*/
}


.title-post{
    margin-top: 2em;
}


.date{
    font-weight: bold;
}